    <footer class="footer">
        <div class="footer-content">
            <p>¡Seguinos en nuestras redes sociales!</p>
            <img class="social" src="/img/facebook.png" alt="Facebook">
            <img class="social" src="/img/instagram.png" alt="Instagram">
            <img class="social" src="/img/tik-tok.png" alt="TikTok">
            <img class="social" src="/img/youtube.png" alt="YouTube">
        </div>
        <p>&copy; 2025 Sonidos de Mi Ciudad. Todos los derechos reservados.</p>
    </footer>