.artistas {
    width: 90%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artista {
    text-align: center;
    padding: 20px;
}

.artista p {
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
    font-size: 1.1em;
    line-height: 1.6;
}

.imagen-artista {
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.titulo-artista {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.bloque-flotante {
    overflow: hidden;
    margin: 30px auto;
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   
}

.caja-relativa {
    position: relative;
    display: inline-block;
}
.img-flotante {
    width: 500px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.img-flotante:hover {
    transform: scale(1.05);
}

.etiqueta {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(204, 0, 0, 0.85); /* semitransparente */
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.85rem;
    z-index: 10;
}

.info-artista {
    overflow: hidden; /* para evitar que el float rompa el layout */
}